<!DOCTYPE html>
<html>
<head>
	<title>IEN</title>
	<link rel="stylesheet" type="text/css" href="/css/list.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
	<a href="/"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
	<h1>Active Emergencies(<%=data.length%>)</h1>
</div>
<div class="container">
<div class="main">
	<%data.forEach(info =>{%>
<div class="activeEmergency">
	<div class="top">
		<p>STARTED AT <%=info.time%></p>
		<span class="timer"></span>
		<form class="btnForm" action="/list/<%=info._id%>?_method=DELETE" method="post">
		<button>Cancel</button>
		</form>
	</div>
	<div class="middle">
	<div class="inline">	
	<h3><%=info.name%></h3>
	<img src="/images/loc.PNG">
	</div> 
	<span>+91- <%=info.phoneNumber%></span><br>
	<span><%=info.address%>,</span><br>
	<span><%=info.landmark%></span>
	<p><b>Emergency </b><%=info.emergency%></p>
    </div>
	<div id="" class="<%=info._id%> bottom">
		<div class="nest">
		<div class="loading"></div>
		<span>Request pending...</span>
		<div class="icons"></div>
	</div>
	<div class="append">
	<div  class="top select">

		<div class="side">
		<p>ACCEPTED AT 1:00AM</p>
		<span class="dist"></span>
		<span class="setIcon"></span>
	    </div>
	</div>	
	</div>
	</div>
</div>
<script type="text/javascript">
		switch('<%=info.ambulance%>'){
			case 'on':
		$(".<%=info._id%> .icons").append('<i class="fas fa-ambulance"></i>'); 
		break;
		case 'off':
        $('.<%=info._id%> .select').css("display","block");
		$(".<%=info._id%> .append").append('<div  class="top select"><div class="right"><p>ACCEPTED AT 1:00AM</p><span class="setIcon"><i class="fas fa-ambulance"></i></span></div><span class="dist"></span></div>'); 
         checkNappend('police','fire');
         break;
		}
		switch('<%=info.police%>'){
			case 'on':
		$(".<%=info._id%> .icons").append('<i class="fas fa-car"></i>'); 
	    break;
	    case 'off':
		$('.<%=info._id%> .select').css("display","block");
$(".<%=info._id%> .append").append('<div  class="top select"><div class="right"><p>ACCEPTED AT 1:00AM</p><span class="setIcon"><i class="fas fa-car"></i></span></div><span class="dist"></span></div>'); 
         checkNappend('ambulance','fire');

	     break;
		}

	    switch('<%=info.fire%>'){
	    	case 'on':
		$(".<%=info._id%> .icons").append('<i class="fas fa-truck"></i>'); 
	        break;
	        case 'off':
$(".<%=info._id%> .append").append('<div  class="top select"><div class="right"><p>ACCEPTED AT 1:00AM</p><span class="setIcon"><i class="fas fa-truck"></i></span></div><span class="dist"></span></div></div>'); 
     		$('.<%=info._id%> .select').css("display","block");
     		 checkNappend('police','ambulance');
     		break;
     		default:
     		console.log("completed")
	    }
 function checkNappend(a,b){
                 console.log("event triggered")
                 if((a=='ambulance'||b=='ambulance')&&('<%=info.ambulance%>'=='on')){
                 	if(a=='ambulance'){
                 		var icon = '<i class="fas fa-ambulance"></i>';
                 	 	$(".<%=info._id%> .icons").append(icon);
                 	}else{
                 		var icon ='<i class="fas fa-ambulance"></i>';
                  	 	$(".<%=info._id%> .icons").append(icon);
 
                 	}
                 }
                 if((a=='police'||b=='police')&&('<%=info.police%>'=='on')){
                 	if(a=='police'){
                 		var icon = '<i class="fas fa-car"></i>';
                 	 	$(".<%=info._id%> .icons").append(icon);
                 	}else{
                 		var icon ='<i class="fas fa-car"></i>';
                  	 	$(".<%=info._id%> .icons").append(icon);
 
                 	}
                 }
                 	if((a=='fire'||b=='fire')&&('<%=info.fire%>'=='on')){
                 	if(a=='fire'){
                 		var icon = '<i class="fas fa-truck"></i>';
                 	 	$(".<%=info._id%> .icons").append(icon);
                 	}else{
                 		var icon ='<i class="fas fa-truck"></i>';
                  	 	$(".<%=info._id%> .icons").append(icon);
 
                 	}

	    }
	}
</script>

	</div>


<%})%>
</div>

<div class="mapFlex">
    <div id="map"></div>
    <div id="output"></div>
</div>

<script type="text/javascript">
	<%data.forEach(element=>{%>
      if('<%=element.fire%>'=='off'&&'<%=element.police%>'=='off'&&'<%=element.ambulance%>'=="off"){
		$('.<%=element._id%> .nest').css("display","none");
	}
	<%})%>
</script>
<script type="text/javascript">
	function startTimer(display) {
    var minutes = 0;
    var seconds = 0;
    var hours=0;
    setInterval(function () {
    	hours   = parseInt(hours/60, 10);
        minutes = parseInt(minutes / 60, 10);
        seconds = parseInt(seconds % 60, 10);

        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent =hours+ ":" +minutes + ":" + seconds+" sec";

       ++hours;
       ++minutes;
       ++seconds;
    }, 1000);
}

window.onload = function () {
	var x = document.querySelectorAll(".timer");
var i;
for (i = 0; i < x.length; i++) {
	display =x[i];
    startTimer(display);
}
};
</script>
<script>
	<%data.forEach(element=>{%>
      function initMap() {
        var bounds = new google.maps.LatLngBounds;
        var markersArray = [];

        var origin1 = 'kukatpally, hyderabad';
        var origin2 = 'uppal, hyderabad';
        var destinationA = '<%=element.address%>';
        var destinationB = '<%=element.landmark%>';

        var destinationIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=D|FF0000|000000';
        var originIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000';
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.53, lng: 9.4},
          zoom: 10
        });
        var geocoder = new google.maps.Geocoder;

        var service = new google.maps.DistanceMatrixService;
        service.getDistanceMatrix({
          origins: [origin1, origin2],
          destinations: [destinationA, destinationB],
          travelMode: 'DRIVING',
          unitSystem: google.maps.UnitSystem.METRIC,
          avoidHighways: false,
          avoidTolls: false
        }, function(response, status) {
          if (status !== 'OK') {
            alert('Error was: ' + status);
          } else {
            var originList = response.originAddresses;
            var destinationList = response.destinationAddresses;
            var outputDiv = document.getElementById('output');
            outputDiv.innerHTML = '';
            deleteMarkers(markersArray);

            var showGeocodedAddressOnMap = function(asDestination) {
              var icon = asDestination ? destinationIcon : originIcon;
              return function(results, status) {
                if (status === 'OK') {
                  map.fitBounds(bounds.extend(results[0].geometry.location));
                  markersArray.push(new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    icon: icon
                  }));
                } else {
                  console.log('Geocode was not successful due to: ' + status);
                }
              };
            };

            for (var i = 0; i < originList.length; i++) {
              var results = response.rows[i].elements;
              geocoder.geocode({'address': originList[i]},
                  showGeocodedAddressOnMap(false));
              for (var j = 0; j < results.length; j++) {
                geocoder.geocode({'address': destinationList[j]},
                    showGeocodedAddressOnMap(true));
                $('.<%=element._id%> .dist').html(results[j].distance.text + ' in ' +
                    results[j].duration.text + '<br>');

              }
            }
          }
        });
      }

      function deleteMarkers(markersArray) {
        for (var i = 0; i < markersArray.length; i++) {
          markersArray[i].setMap(null);
        }
        markersArray = [];
      }
      <%})%>
    </script>	
      
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4mjVI_m7uHX_oY2hpD-ZDk5LjAyeRhNg&callback=initMap">
    </script>
</body>
</html>